*.vs
*.user
*.dll
bin/
obj/
/Fundamentals/ConsoleToWebAPI/bin
/Fundamentals/ConsoleToWebAPI/obj
/BookStore/BookStore.API/BookStore.API/bin
/BookStore/BookStore.API/BookStore.API/obj
/appsettings.*.json
